<!DOCTYPE html>
<html>

<head>
    <title>My Flowbite UI Project</title>
    <!-- Include Flowbite UI CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Use Flowbite UI components -->
    <button class="btn btn-primary">Click Me</button>

    <!-- Include Flowbite UI JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
</body>

</html>